/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    font-family: 'Raleway', sans-serif;
    color: $grey-darker;
}


.header-nav{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04);

    .columns:not(:last-child) {
        margin-bottom: 0px;
    }
}

.logo-r-news{
    font-weight: 400;
    font-family: 'Archivo Black', sans-serif;
    font-size: 20px;
    line-height: 20px;
    .r{
        color: #FD8601;
    }
    @media screen and (max-width: 768px) {
        text-align: left !important;
    }
}
.navbar{
    padding-top: 1.75rem;
    color: $grey-darker;
    .column{
        padding: 0.25rem 1rem;
    }
    &-item,
    &-link{
        color: $grey-darker;
    }
}
.navbar-item.navbar-start{
    padding: 0.5rem 0.25rem;
}

.fa{
    font-size: 1.25rem;
}

/* ======== */
/* MAIN NAV */
/* ======== */
#main-menu{
    text-align: center;
    li{
        &.selected{
            color: $grey-darker;
            font-weight: 700;
        }
        a{
            display: inline-block;
            color: $grey-dark;
            line-height: 30px;
            &:hover{
                color: #FD8601;
            }
        }
    }
}
.scroll_tabs_container{
    height: 35px;
}
.scroll_tabs_container .scroll_tab_left_button_disabled,
.scroll_tabs_container div.scroll_tab_inner span, 
.scroll_tabs_container div.scroll_tab_inner li{
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 0;
    font-size: 13px;
    font-weight: 500;
    color: #4A4A4A;
}
.scroll_tabs_container .scroll_tab_left_button,
.scroll_tabs_container .scroll_tab_right_button{
    background-color: transparent;
}
.scroll_tabs_container .scroll_tab_left_button::before,
.scroll_tabs_container .scroll_tab_right_button::before{
    font-family: "fontawesome";
    font-size: 24px;
    line-height: 28px;
    padding: 0;
}
.scroll_tabs_container .scroll_tab_left_button::before{
    content: "\f104";
}
.scroll_tabs_container .scroll_tab_right_button::before{
    content: "\f105";
}



/* POPULAR POST SLIDER */
.popular-post-slider{
    a{
        color: #fff;
    }
    figure{
        position: relative;
        margin: 1rem;
        color: #fff;
        background-size: cover;
        background-position: center;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
        figcaption{
            position: absolute;
            bottom: 2rem;
            left: 0;
            padding: 1rem;
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            color: #fff;
        }
    }

    .post-categories{
        position: absolute;
        top: 1rem;
        left: 1rem;
        a{
            display: inline-block;
            margin-right: 0.5rem;
            background-color: #fff;
            border-radius: 15px;
            line-height: 30px;
            padding: 0 1rem;
            color: #FD8601;
            font-size: 14px;
        }
    }
    .post-meta{
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        width: 100%;
        span{
            display: inline-block;
            margin-right: 1rem;
        }
        .is-left{

        }
        .is-right{
            text-align: right;
        }
    }
}



/* TRENDING NEWS */
.trending-news{
    margin: 1rem auto;
    &-label{
        line-height: 30px;
    }
    .button{
        font-size: 14px;
        margin-bottom: 0.5rem;
    }
}



/* KABAR BISNIS TERBARU */
.kabar-bisnis-terbaru{
    margin: 2rem 0;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
